

<br>

<br>
<form (ngSubmit)="updatebook(newBook)">
  <div class="form-row">
    <div class="col-md-6 mb-3 md-form">
      <label for="name">Name::</label>
      <input [(ngModel)]="pageContent.header.title" id="name"   type="text" class="form-control" placeholder="Enter book Name" name="name" required="required">
    </div>
    <br>
    <div class="col-md-6 mb-3 md-form">
      <label for="type">Type::</label>&nbsp;&nbsp;&nbsp;
      <input [(ngModel)]="pageContent.header.type" type="text" class="form-control" id="type" name="type" placeholder="Enter Type of Book" required="required">
      <br>
    </div>
    <br>
  </div>
  <div class="form-row">
    <div class="col-md-6 mb-3 md-form">
      <label for="publisher">Publisher::</label>&nbsp;&nbsp;&nbsp;
      <input [(ngModel)]="pageContent.header.publisher" type="text" class="form-control" id="publisher" name="publisher" placeholder=" Enter Publisher" required="required">
      <br>
    </div>
    <br>
    <div class="col-md-6 mb-3 md-form">
      <label for="ISBN">ISBN::</label>&nbsp;&nbsp;&nbsp;
      <input [(ngModel)]="pageContent.header.ISBN" type="text" class="form-control" id="ISBN" name="ISBN" placeholder="Enter ISBN Number " required="required">
      <br>
    </div>
  </div>
  <br>
  <div class="form-row">
    <div class="col-md-6 mb-3 md-form">
      <label for="author">Author::</label>&nbsp;&nbsp;&nbsp;
      <input [(ngModel)]="pageContent.header.author" type="text" class="form-control" id="author" name="author" placeholder="Enter Author" required="required">
      <br>
    </div>
    <br>
    <div class="col-md-6 mb-3 md-form">
      <label for="year">Year::</label>&nbsp;&nbsp;&nbsp;
      <input [(ngModel)]="pageContent.header.year" type="text" class="form-control" id="year" name="year" placeholder="Enter Year of publish" required="required">
    </div>

  </div>
  <div class="form-row">
    <div class="col-md-12 mb-6 md-form">
      <label for="author">Description::</label>&nbsp;&nbsp;&nbsp;
      <input [(ngModel)]="pageContent.header.description" type="text" class="form-control" id="description" name="description" placeholder="Enter Description" required="required">
      <br>
    </div>

  </div>
  <div class="form-row">
    <div class="col-md-12 mb-6 md-form">
      <label for="img">Image Link::</label>&nbsp;&nbsp;&nbsp;
      <input [(ngModel)]="pageContent.header.img" type="text" class="form-control" id="img" name="img" placeholder="Enter Image Link" required="required">
      <br>
    </div>

  </div>
  <br>
  <button type="submit" class="btn btn-primary" >Update</button>
  <button class="btn btn-danger" (click)="deletebook(newBook._id)">Delete</button>


</form>









